
body {
  font-family: Arial, sans-serif;
}

.quiz-container {
  max-width: 800px;
  margin: 0 auto;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 20px;
  margin-bottom: 10px;
}

.options {
  margin-left: 20px;
  padding-top: 10px;
}

.title {
    text-align: center;
}

.question-container p {
    text-align: center;
    margin: 5px;
}
